html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
}

ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input {
    width: 90px;
    border: 0;
}

input:focus {
    outline: none;
}

::placeholder {
    text-align: center;
}

/* form styling */
#timesheet {
    display: flex;
}

.column {
    text-align: center;
}

.header {
    font-weight: bold;
}

.header,
.content {
    margin: 1px;
    border: 1px solid black;
}

button {
    border-radius: 30%;
    float: right;
}